# =========================
# POSTGRES
# =========================
POSTGRES_DB=pbo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# =========================
# PGADMIN
# =========================
PGADMIN_EMAIL=admin@tago.local
PGADMIN_PASSWORD=
