# =========================
# POSTGRES
# =========================
POSTGRES_DB=pbo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=super_secret_password

# =========================
# PGADMIN
# =========================
PGADMIN_EMAIL=admin@tago.com
PGADMIN_PASSWORD=super_admin_password

# =========================
# GOOGLE OAUTH
# =========================
GOOGLE_CLIENT_ID=123456.apps.googleusercontent.com

# =========================
# JWT
# =========================
JWT_SECRET=super-ultra-secret-jwt-key-minimum-32-char