GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID

POSTGRES_DB=pbo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PGADMIN_EMAIL=admin@tago.com
PGADMIN_PASSWORD=super_admin_password

JWT_SECRET=super-secret-key-super-secret-key-super-secret-key
JWT_EXPIRED_MS=86400000