# =========================
# POSTGRES  | samakan dengan env yang pertama
# =========================
POSTGRES_DB=pbo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

GOOGLE_CLIENT_ID=ID_GOOGLE_OAUTH

JWT_SECRET=super-secret-key-super-secret-key-super-secret-key
JWT_EXPIRED_MS=86400000

# =========================
# PGADMIN
# =========================
PGADMIN_EMAIL=admin@tago.com
PGADMIN_PASSWORD=super_admin_password

# =========================
# JWT
# =========================
JWT_SECRET=super-ultra-secret-jwt-key-minimum-32-char