GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID

POSTGRES_DB=pbo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Ini untuk jalanin pake java di local
#SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/pbo_db

# Ini untuk jalanin pake docker compose
#SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/pbo_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

PGADMIN_EMAIL=admin@tago.com
PGADMIN_PASSWORD=super_admin_password

JWT_SECRET=super-secret-key-super-secret-key-super-secret-key
JWT_EXPIRED_MS=86400000